@import "@/styles/home.css";

:root {
  --font-nunito: "Nunito", sans-serif;
}

html,
body {
  margin: 0;
  overflow: hidden;
  overflow-x: hidden;
  font-family: var(--font-nunito);
}

.container-body {
  width: 100%;
  height: 100vh;
  background-image: url('/img/background.svg') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
