.title-test {
    font-size: xx-large;
    font-weight: 700;
}

.swiper {
    width: 1000px !important;
    height: 700px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-slide img {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    width: 950px !important;
    height: 530px !important;
    margin-top: 84px;
    margin-left: 25px; 
}

.swiper-button-next,
.swiper-button-prev {
    margin: 10px;
    color: white;
}

.border-color {
    background-color: black;
}

.shadow-image {
    box-shadow: -10px 5px 10px rgba(0, 0, 0, 0.5);
  }
  