.title-test {
    font-size: xx-large;
    font-weight: 700;
}

.swiper {
    width: 1000px !important;
    height: 700px;
    z-index: 21;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    z-index: 21;
}

.swiper-slide img {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    width: 950px !important;
    height: 530px !important;
    margin-top: 84px;
    margin-left: 25px;
    z-index: 21;
}

.swiper-button-next,
.swiper-button-prev {
    margin: 10px;
    color: white;
}

.border-color {
    background-color: transparent;
}

.shadow-image {
    box-shadow: -20px 20px 40px 6px rgba(0, 0, 0, 0.9);
}

.shadow-side {
    -webkit-filter: drop-shadow(0px 20px 26px rgba(0, 0, 0, 1));
    filter: drop-shadow(0px 20px 26px rgba(0, 0, 0, 1));
}

.preloader {
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

    &.centered {
        background-color: #774E1F;
        width: 100%;
    }

    &.cover-page {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.shadow-sosmed {
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 1));
}


.text-coklat {
    color: #E5AB41;
}

.bg-coklat {
    background-color: #E5AB41;
}